*,
*::after,
*::before {
  margin: 0 !important;
  box-sizing: border-box !important;
}
html {
  font-size: 62.5% !important;
}
body {
  font-size: 1.6rem !important;
}
li {
  list-style: none !important;
}
a {
  text-decoration: none !important;
  color: rgb(204, 204, 204) !important;
}

.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  height: 8vh !important;
  background: rgb(0, 33, 65) !important;
}
.nav__brand {
  text-transform: uppercase !important;
}

.nav__menu {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  gap: 3rem !important;
}
.nav__toggler {
  display: none !important;
}
.nav__toggler div {
  width: 2.5rem !important;
  height: 0.2rem !important;
  margin: 0.4rem !important;
  background: rgb(204, 204, 204) !important;
  transition: 0.3s ease-in !important;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh !important;
    width: 50vw;
    background: rgb(0, 33, 65) !important;
    flex-direction: column;
    transform: translateX(100%) !important;
    transition: 0.5s ease-in !important;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
